<h1 style=" font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Chat</h1>
<div>
  <input
    style="border: none; border-bottom: .5px solid rgb(169, 169, 169); width: 90%;height: 30px;margin:0 0.5rem;outline: none;"
    type="text" id="chatBox">
</div>
<div>
  <p style="font-weight: 100; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" id="messageLogs"></p>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>