<div>
    <h1 style="font-family: 'Segoe UI';text-align:center">Registro</h1>
    <form id="registerForm" style=" width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;">

        <input name=" first_name"
            style="border: none; border-bottom: .5px solid rgb(169, 169, 169); width: 90%;height: 30px;margin:0 0.5rem;outline: none;"
            type="text" placeholder="Nombre">
        <br />

        <input name="last_name"
            style="border: none; border-bottom: .5px solid rgb(169, 169, 169); width: 90%;height: 30px;margin:0 0.5rem;outline: none;"
            type="text" placeholder="Apellido">
        <br />

        <input name="email"
            style="border: none; border-bottom: .5px solid rgb(169, 169, 169); width: 90%;height: 30px;margin:0 0.5rem;outline: none;"
            type="text" placeholder="Email">
        <br />

        <input name="age"
            style="border: none; border-bottom: .5px solid rgb(169, 169, 169); width: 90%;height: 30px;margin:0 0.5rem;outline: none;"
            type="text" placeholder="Edad">
        <br />

        <input name="password" type="password"
            style="border: none; border-bottom: .5px solid rgb(169, 169, 169); width: 90%;height: 30px;margin:0 0.5rem;outline: none;"
            type="text" placeholder="Contraseña">
        <br><br>
        <input type="submit"
            style="border: 0.5px solid black; border-radius: 15px;padding:.5rem 5rem;background-color: white;cursor: pointer;">
    </form>
    <p style="font-family: 'Segoe UI';text-align:center">¿Ya tienes una cuenta? <a href="/login">Ingresa aquí</a></p>
</div>
<script src="/js/register.js"></script>